body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background-color: #f4f5f8;
	color: #555;

}

a {
	color: #555;
	text-decoration: none;
}

a:hover {

	color: #E95C68;
	text-decoration: none;

}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 180em;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #82252F;
	padding: 0;
	margin: 0;
	height: 10em;
	z-index: 10;
}

header img {
	float: left;
	margin-left: 20px;
}

header h1 {
	float: left;
	display: inline-block;
	color: #fff;
	font-family: 'Josefin Slab', sans-serif;
	margin-top: 0.6em;
	padding-top: 0;
	margin-left: 5.2em;
	font-size: 4.2em;
}

h1 {

	font-size: 2.4em;
	color: #000;
	font-weight: 600;

}

nav {

	position: fixed;
	background-color: #eee;
	top: 10em;
	height: 100%;
	max-width: 20em;
	width: 20%;


}

ul {

	list-style-type: none;
	padding: 0;
	margin: 0 0 0 3em;

}

ul li {
	font-size: 1.8em;
	margin: 1em 0 0 0;
	padding: 0;
	font-weight: 600;
	border-bottom: 1px solid #ccc;

}

nav ul li {
	padding-bottom: 1em;
}

ul li.last {
	border-bottom: none;
}

section h1 {
	padding-bottom: .2em;
}
section {
	width: 70%;
	margin: 0 0 -9em 25%;
	overflow: hidden;
	padding-top: 9.5em;
}

.headers {
	margin-left: 0;
}

.headers li {
	border-bottom: none;
}
.headers h1, 
.headers h2, 
.headers h3 {
 	color: #555;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 700;
}


.headers h4, 
.headers h5, 
.headers h6 {
 	color: #008D8D;
	font-weight: 700;

}

.headers h1 {
	color: #82252F;
}

.headers h6 {
	color: #555;
	}

.headers h2{

	font-size: 2em;
	color: #82252F
}

.headers h3{

	font-size: 1.6em;
	color: #E95C68
}

.headers h4{

	font-size: 1.5em;
}

.headers h5{

	font-size: 1.2em;
}

.headers h6{

	font-size: 1em;
}


.headers p {

	font-weight: 500;
}


p.text-column {

	width: 22%;
	padding: 0.5em 1em 0.5em 0em;
	font-size: 1.8em;
	display: inline-block;

}


.circle {
    width: 12em;
    height:12em;
    margin-right: 2em;
    margin-bottom: 2em;
    -moz-border-radius: 6em; 
    -webkit-border-radius: 6em; 
    border-radius: 7em; 
    display: inline-block;
    /*-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);*/
	position: relative;
}

	.sub-circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 12em;
    	height:12em;
	    -moz-border-radius: 6em; 
	    -webkit-border-radius: 6em; 
	    border-radius: 6em; 
	    background-color: #000; 
	    opacity: 0.50;
		filter: alpha(opacity = 50);
		display: none;
		z-index: 1;
	}

.circle span {
	position: absolute;
	top: 41%;
	width: 100%;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 2;
}

.circle:hover > .sub-circle,
.circle:hover > span {
	display: block;
} 

.softpink {

	background-color: #F9D2C9;
}

.pink {

	background-color: #E95C68;
}

.red {

	background-color: #82252F;
}

.darkblue {

	background-color: #008E8E;
}

.blue {
	background-color: #77BCBC;
}

.yellow {

	background-color: #FCECA9;
}

.text-illustrations {

	font-size: 1.8em;
}

.illustrations img {

	width: 100%;
	max-width: 450px;

}

.buttons-container {
	width:  48%;
	height: 100px;
	margin-right: 1%;
	display: inline-block;
	margin-top: 2em;
	background-color: transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
}

.b-down {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  background-color: transparent;
  color: #82252F;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #82252F 1px;
  text-decoration: none;
   margin-left: 20px;
	margin-top: 27px;
}

.b-down:hover {
  background: #82252F;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
   margin-left: 20px;
	  margin-top: 27px;
}

.b-down-2 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  background-color: #82252F;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #82252F 1px;
  text-decoration: none;
   margin-right: 20px;
	  margin-top: 27px;
	  float: right;
}

.b-down-2:hover {
  background: transparent;
  text-decoration: none;
  color: #82252F;
  cursor: pointer;
   margin-left: 20px;
	  margin-top: 27px;
}

.b-send {
	-webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  background-color: transparent;
  color: #008E8E;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #008E8E 1px;
  text-decoration: none;
  margin-left: 60px;
	  margin-top: 27px;
	  float: left;
}

.b-send-2 {

	-webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  background-color: #008E8E;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #008E8E 1px;
  text-decoration: none;
  float: right;
	  margin-top: 27px;
	  margin-right: 60px;
}

.b-send-2:hover {
	background: transparent;
  text-decoration: none;
  color: #008E8E;
  cursor: pointer;

}

.b-send:hover {
	background: #008E8E;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

}

.back {
	background-color: #82252F;
}

	.back .b-down {
	  color: #F9D2C9;
	  border: solid #F9D2C9 1px;
	  margin-left: 20px;
	  margin-top: 27px;
	  float: left;
	  
	}

	.back .b-down:hover {
		background-color: #F9D2C9;
	  color: #82252F;
	  border: solid #82252F 1px;
	  margin-left: 20px;
	  margin-top: 27px;
	  float: left;
	  
	}

	.back .b-down-2 {
		background-color: #F9D2C9;
	  color: #82252F;
	  border: solid #F9D2C9 1px;
	  float: right;
	  margin-top: 27px;
	  margin-right: 20px;
	}

	.back .b-down-2:hover {
		background-color: #82252F;
	  color: #F9D2C9;
	  border: solid #F9D2C9 1px;
	  margin-top: 27px;
	  margin-right: 20px;
	 }

.back-2 {
	background-color: #008E8E;
}

	.back-2 .b-send {
	  color: #FCECA9;
	  border: solid #FCECA9 1px;
	  margin-left: 60px;
	  margin-top: 27px;
	  float: left;
	  
	}

	.back-2 .b-send:hover {
		background-color: #FCECA9;
	  color: #008E8E;
	  border: solid #008E8E 1px;
	  margin-left: 60px;
	  margin-top: 27px;
	  float: left;
	  
	}

	.back-2 .b-send-2 {
		background-color: #FCECA9;
	  color: #008E8E;
	  border: solid #008E8E 1px;
	  float: right;
	  margin-top: 27px;
	  margin-right: 60px;
	}

	.back-2 .b-send-2:hover {
		background-color: #008E8E;
	  color: #FCECA9;
	  border: solid #FCECA9 1px;
	  margin-top: 27px;
	  margin-right: 60px;
	  }

.form-field {
	width: 100%;
	overflow: hidden;
}	  

label {
	font-size: 1.8em;
	font-weight: 600;
}

input {
	width: 40%;
	-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
border: 1px solid #666;
padding: 4px 8px;
font-family: 'Josefin Sans', sans-serif;
font-size: 1.8em;
margin: 10px 0;
}

textarea {
	width: 41%;
	height: 100px;
	margin: 10px 0;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.8em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.form-field input,
.form-field textarea {

	float:left;
	clear: left;
}

.form-field label {

	float: left;
}

footer {
	height: 5em;
	text-align: center;
	margin-left: 25%;
	width:70%;
	padding-top: 5em;
	margin-top: 4em;
}

footer p {
	font-size: 1.4em;
}